.subjectBox{
    margin: 10px;
}

.subjectName{
    padding: 1rem;
    font-size: 1rem;
    color: purple;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.subjectName:hover{
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);    
    cursor: pointer;
}









@media only screen and (max-width: 500px) {
    .subjectBox{
        margin:4px 0px;
    }


    .subjectName{
        padding: 0.8rem;
        font-size: 0.8rem;
        margin: 0 12px;
    }
    
  } 

