.container{
    overflow-x: hidden;
}
.homeBanner{
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeBanner > .img{
    height: 40vh;
    width: 100vw;
    background: url("../../../images/home1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
}


.homeBanner > h1{
    color: black;
    word-wrap: break-word;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}


.homeBanner > h2{
    color: black;
    word-wrap: break-word;
    text-align: center;
    font-size: 1rem;
}


.homeInfo{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    
}











@media only screen and (max-width: 600px) {
    .homeBanner > h1{
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .homeInfo{
        margin-top: 2rem;
    }
    
}